@import url(reset.css);

.header {
	background-color: navy;
	font-size: 50px;
	font-family: 'Helvetica';
	color: white;
	padding: 15px;
}

.columns {

	padding-top: 50px;
	padding-bottom: 50px;
	width: 80vw;
	margin: auto;
	min-height: 700px;
	display: flex;
	flex-flow: row wrap;
}

.box {
	border: 2px solid black;
	border-radius: 10px;
	font-family: Helvetica;
	font-size: 50px;
	line-height: 57px;
	margin: 5px;
	width: calc(50% - 14px);
	padding: 10px;
	box-sizing: border-box;
	text-align: center;

	display: flex;
	align-items: center;
}



.footer {
	background-color: navy;
	display: flex;
	font-size: 50px;
	font-family: 'Helvetica';
	color: white;
	padding:  15px;
	display: flex;
	align-items: center;
}
.spacer{
	flex-grow: 1;
}
@media	screen and (max-width: 600px) {
	.box {
		border: 1px solid red;
		width: 100%;
		min-height: 250px;
	}
}