@import url(reset.css);

.header {
	height: 100px;
	background-color: navy;
	display: flex;
	font-size: 50px;
	font-family: 'Helvetica';
	color: white;
}

.columns {

padding-top: 50px;
	padding-bottom: 50px;
	width: 80vw;
	margin: auto;
	min-height: 700px;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	background-color:

}

.box1 {
	border: 2px solid black;
	border-radius: 10px;
	position: absolute;
	width: 600px;
	height: 300px;
	left: 110px;
	top: 202px;

	font-family: Helvetica;
	font-size: 50px;
	line-height: 57px;
	display: flex;
	align-items: center;
	text-align: center;
}

.box2 {
	border: 2px solid black;
	border-radius: 10px;
	position: absolute;
	width: 600px;
	height: 300px;
	left: 730px;
	top: 202px;

	font-family: Helvetica;
	font-size: 50px;
	line-height: 57px;
	display: flex;
	align-items: center;
	text-align: center;
}

.box3 {
	border: 2px solid black;
	border-radius: 10px;
	position: absolute;
	width: 600px;
	height: 300px;
	left: 110px;
	top: 522px;

	font-family: Helvetica;
	font-size: 50px;
	line-height: 57px;
	display: flex;
	align-items: center;
	text-align: center;
}

.box4 {
	border: 2px solid black;
	border-radius: 10px;
	position: absolute;
	width: 600px;
	height: 300px;
	left: 730px;
	top: 522px;

	font-family: Helvetica;
	font-size: 50px;
	line-height: 57px;
	display: flex;
	align-items: center;
	text-align: center;
}

.footer {

	height: 100px;
	background-color: navy;
	display: flex;
	font-size: 50px;
	font-family: 'Helvetica';
	color: white;
	justify-content: flex-start;
}

@media	screen and (min-width: 600px) {
	div .columns {
		width: 40%;
	}
}