@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');


.header {
	height: 200px;
	width: 100%;
	background-color: navy;
	position: fixed;
	z-index: 1;

	
	
	
}

.tagline {
   font-size: 60px;
   color: white;
   font-family: 'Darker Grotesque', sans-serif;
   text-align: left;
   padding-top: 50px;
   padding-left: 30px;
}

.elements {
	height: 900px;
	background-color: white;
	position: static;

}

.h2 {
	font-size: 22px;
	color: red;
	font-weight: bold;
	padding-top: 20px;
	padding-left: 20px;
}

.text {
	font-size: 18px;
	color: black;
	padding-left: 20px;
	padding-right: 20px;

}

.elements_block1 {
	border: 1px solid black;
	position: absolute;
	border-radius: 10px;
	top: 300px;
	left: 100px;
	right: 100px;
	width: 300px;
	

}
.elements_block2 {
	border: 1px solid black;
	position: absolute;
	top: 300px;
	left: 550px;
	border-radius: 10px;
	width: 300px;
}
.elements_block3 {
	border: 1px solid black;
	position: absolute;
	top: 300px;
	left: 1000px;
	border-radius: 10px;
	width: 300px;
}

.footer {
	display: flex;
	height: 300px;
	bottom: 0px;
	background-color: navy;
	
	
}

.footer_text {
	font-size: 40px;
	color: white;
	font-family: 'Darker Grotesque', sans-serif;
	align-self: auto;

}



















