@import url(reset.css);

.header {
	height: 200px;
	background-color: navy;
	display: flex;
	font-size: 50px;
	font-family: 'Helvetica';
	color: white;
}

.columns {
	padding-top: 50px;
	padding-bottom: 50px;
	width: 80vw;
	margin: auto;
	min-height: 700px;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	background-color:
}

/*.column {
	width: calc((100% - 40px)/3);
	background-color: lightblue;*/

.box1 {

	
	width: calc((100% - 40px)/3);
	background-color: lightblue;
	border: 1px solid black;
	border-radius: 10px;
	
	

}

.box1-image {

	padding-top: 300px;
	background-image: url(../img/hemingway.jpeg);
	background-size: cover;
	background-position: center;

	padding-bottom: 20%;
	
}



.box2 {

	
	width: calc((100% - 40px)/3);
	background-color: lightblue;
	border: 1px solid black;
	border-radius: 10px;
	
	
}

.box2-image {

	padding-top: 300px;
	background-image: url(../img/poe.jpg);
	background-size: cover;
	background-position: center;

	padding-bottom: 20%;
	
}



.box3 {
	
	width: calc((100% - 40px)/3);
	background-color: lightblue;
	border: 1px solid black;
	border-radius: 10px;
	
	

}

.box3-image {

	padding-top: 300px;
	background-image: url(../img/dumas.jpg);
	background-size: cover;
	background-position: center;
	padding-bottom: 20%;
}

.footer {

	height: 200px;
	background-color: navy;
	display: flex;
	font-size: 50px;
	font-family: 'Helvetica';
	color: white;
	justify-content: flex-start;

}